.container{
    background: #39c0f6;
    box-shadow: 0 30px 50px #3f3232;
    border-radius: 16px;
    margin: 45px auto;
    padding-left: 50px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 600px;
    font-weight: 500;
    font-size: larger;
}

.weatherapp{
    padding: 30px;
    display: block;
}

.search-form{
    width: 80%;
    font-size: 16;
    padding: 15px 20px;
    border-radius: 6px;
}

footer{
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;

}