.container{
    background: #39c0f6;
    box-shadow: 0 30px 50px #3f3232;
    border-radius: 16px;
    margin: 45px auto;
    padding-left: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.weatherapp{
    padding: 30px;
    display: block;
}

.code-link{
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;

}